.title_margins {
    margin-left: 20px;
    margin-right: 20px;
}

.increased_indentation {
    padding-left: 30px;
}

.title_font {
    font-size: large;
}

.me_img {
    width: 600px;
}

.bold {
    font-weight: bold;
}

.light_link {
    color:aquamarine;
}

a:hover {
    color:aqua;
}

@media (max-width: 700px) {
    .me_img {
        width: 80%;
    }
}

main, footer {
    padding-left: 300px;
}

#mobile-hamburger {
    margin-top: 64px;
}

@media only screen and (max-width : 992px) {
    main, footer {
        padding-left: 0;
    }
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
    
